.header {
    padding-top: 73px;
    padding-bottom: 120px;
}

.link_header {
    font-weight: 500;
    font-size: 13px;
    color: #242d52;
}

.list_link {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link__header {
    font-weight: 700;
    font-size: 13px;
    color: #fcf6f5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    background-color: #f3603c;
    padding: 12px 32px;
}
